_trial_temp*
.cache/
.coverage
.coverage.*
.idea
.mypy_cache/
.pytest_cache/
.scrapy/
.tox
*.pyc
*egg-info
/.vagrant
/scrapy.iml
/tests/keys/localhost.crt
/tests/keys/localhost.key
build
dist
docs/build
dropin.cache
htmlcov/
venv

# Windows
Thumbs.db
