fail_fast: false

default_language_version:
    python: python3.10

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: "v4.3.0"
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-added-large-files
          - id: check-ast
          - id: fix-byte-order-marker
          - id: check-case-conflict
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-symlinks
          - id: destroyed-symlinks
          - id: mixed-line-ending
          - id: check-yaml

    - repo: https://github.com/psf/black
      rev: 22.12.0
      hooks:
          - id: black

    - repo: https://github.com/pycqa/flake8
      rev: 6.0.0
      hooks:
          - id: flake8

    - repo: https://github.com/timothycrosley/isort
      rev: 5.12.0
      hooks:
          - id: isort

    - repo: local
      hooks:
          - id: scrapy-check
            name: check scrapy contract
            entry: poetry run scrapy check -s DOWNLOADER_MIDDLEWARES={}
            pass_filenames: false
            language: system
            types: [python]

    - repo: local
      hooks:
          - id: mypy-check
            name: check mypy
            entry: poetry run mypy burplist
            pass_filenames: false
            language: system
            types: [python]

    - repo: local
      hooks:
          - id: unittest
            name: unit testing
            entry: poetry run python3 -m unittest
            pass_filenames: false
            language: system
            types: [python]
