[tool.poetry]
name = "burplist"
version = "1.0.4"
description = "A collection spiders to get beer data from the web."
authors = ["Jerry Ng <ngshiheng@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"
Scrapy = "2.5.1"
price-parser = "0.3.4"
SQLAlchemy = "1.4.29"
psycopg2-binary = "2.9.3"
colorlog = "5.0.1"
sentry-sdk = "1.5.2"
ipython = "==8.0.0"
scrapy-fake-useragent = "1.4.4"
alembic = "1.7.5"

[tool.poetry.dev-dependencies]
autopep8 = "1.5.7"
flake8 = "==4.0.1"
pylint = "2.12.2"
pre-commit = "2.16.0"
mypy = "^0.910"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
mypy_path = "burplist"
check_untyped_defs = true
disallow_any_generics = true
ignore_missing_imports = true
no_implicit_optional = true
show_error_codes = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
no_implicit_reexport = true

[tool.semantic_release]
version_variable = [
    "burplist/__init__.py:__version__",
    "pyproject.toml:version"
]
branch = "production"
upload_to_pypi = false
upload_to_release = true
build_command = "pip install poetry && poetry build"
