[tool.poetry]
authors = ["Jerry Ng <ngshiheng@gmail.com>"]
description = "Web crawler for Burplist, a search engine or craft beers in Singapore"
name = "burplist"
version = "1.3.1"

[tool.poetry.dependencies]
SQLAlchemy = "==1.4.36"
Scrapy = "==2.6.1"
alembic = "==1.7.7"
colorlog = "==6.6.0"
ipython = "==8.2.0"
price-parser = "0.3.4"
psycopg2-binary = "2.9.3"
python = "^3.9"
scrapy-fake-useragent = "1.4.4"
sentry-sdk = "==1.5.10"

[tool.poetry.dev-dependencies]
autopep8 = "==1.6.0"
flake8 = "==4.0.1"
mypy = "^0.910"
pre-commit = "==2.18.1"
pylint = "==2.13.7"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
ignore_missing_imports = true
mypy_path = "burplist"
no_implicit_optional = true
no_implicit_reexport = true
show_error_codes = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true

[tool.semantic_release]
branch = "main"
build_command = "pip install poetry && poetry build"
upload_to_pypi = false
upload_to_release = true
version_variable = [
  "burplist/__init__.py:__version__",
  "pyproject.toml:version",
]
