[tool.poetry]
name = "burplist"
version = "1.0.0"
description = "A collection spiders to get beer data from the web."
authors = ["Jerry Ng <ngshiheng@gmail.com>"]

[tool.poetry.dependencies]
python = "3.9.6"
Scrapy = "^2.5.0"
price-parser = "^0.3.4"
SQLAlchemy = "^1.4.22"
psycopg2-binary = "^2.9.1"
colorlog = "^5.0.1"
sentry-sdk = "^1.3.1"
ipython = "^7.25.0"
scrapy-fake-useragent = "^1.4.4"
alembic = "^1.6.5"

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.7"
flake8 = "^3.9.2"
pylint = "^2.9.6"
pre-commit = "^2.14.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
