name: CD
on:
    push:
        branches:
            - main
jobs:
    test:
        uses: ./.github/workflows/ci.yml
    release:
        runs-on: ubuntu-latest
        concurrency: release
        needs:
            - test
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Semantic Release
              uses: relekang/python-semantic-release@v7.28.1
              with:
                  github_token: "${{ secrets.GITHUB_TOKEN }}"
    deploy:
        runs-on: ubuntu-latest
        needs:
            - test
        steps:
            - uses: actions/checkout@v3
            - name: Heroku Deploy
              uses: akhileshns/heroku-deploy@v3.12.12
              with:
                  heroku_api_key: "${{secrets.HEROKU_API_KEY}}"
                  heroku_app_name: "${{secrets.HEROKU_APP_NAME}}"
                  heroku_email: "${{secrets.HEROKU_EMAIL}}"
