name: CI
on:
    push:
        branches:
            - "**"
    workflow_call: null
jobs:
    code-quality:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version:
                    - "3.9"
                    - "3.10"
                poetry-version:
                    - 1.1.13
        steps:
            - uses: actions/checkout@v3
            - name: "Set up Python ${{ matrix.python-version }}"
              uses: actions/setup-python@v3
              with:
                  python-version: "${{ matrix.python-version }}"
            - name: Install Python Poetry
              uses: abatilo/actions-poetry@v2.1.4
              with:
                  poetry-version: "${{ matrix.poetry-version }}"
            - name: Install dependencies
              run: |
                  poetry install --no-root
            - name: Lint check with flake8
              run: |
                  poetry run flake8 --statistics --show-source
            - name: Type check with mypy
              run: |
                  poetry run mypy burplist
            - name: Test with unittest
              run: |
                  poetry run python3 -m unittest
