name: CI
on:
    push:
        branches:
            - "**"
            - "!main"
    workflow_call: null
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version:
                    - "3.9"
                    - "3.10"
                poetry-version:
                    - 1.3.2
        steps:
            - uses: actions/checkout@v4
            - name: "Set Up Python ${{ matrix.python-version }}"
              uses: actions/setup-python@v5
              with:
                  python-version: "${{ matrix.python-version }}"
            - name: Install Python Poetry
              uses: abatilo/actions-poetry@v2.3.0
              with:
                  poetry-version: "${{ matrix.poetry-version }}"
            - name: Install Dependencies
              run: |
                  poetry install --no-root
            - name: Flake8
              run: |
                  poetry run flake8 --statistics --show-source
            - name: MyPy
              run: |
                  poetry run mypy burplist
            - name: Unit Testing
              run: |
                  poetry run python3 -m unittest
